<div *ngIf="isOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-black/40">

  <div class="bg-white w-full rounded-xl shadow-lg border border-blue-100 flex flex-col" [ngClass]="modalSize">
    <!-- HEADER -->
    <div class="flex items-center justify-between p-6 border-b">

      <div>
        <h2 class="text-lg font-bold text-slate-800">
          {{title}}
        </h2>

        <p *ngIf="subtitle" class="text-sm text-slate-500">
          {{subtitle}}
        </p>
      </div>

      <button (click)="close()" class="text-slate-400 hover:text-slate-600 text-xl">
        ✕
      </button>

    </div>
    <!-- BODY -->
    <div class="relative">

      <div class="p-6 overflow-y-auto max-h-[70vh]">
        <ng-content></ng-content>
      </div>
      <div *ngIf="loading" class="absolute inset-0 bg-white/70 backdrop-blur-[1px] flex items-center justify-center">

        <div class="flex flex-col items-center gap-3">
          <div class="w-8 h-8 border-4 border-blue-600 border-t-transparent rounded-full animate-spin">
          </div>

          <span class="text-sm text-slate-600">
            Actualizando...
          </span>
        </div>

      </div>
    </div>


    <!-- FOOTER -->
    <div *ngIf="showFooter" class="flex justify-end gap-3 p-6 border-t">
      <button *ngIf="showCancel" [disabled]="loading" (click)="cancel.emit()"
        class="px-4 py-2 text-sm border rounded-lg hover:bg-slate-50">
        {{cancelText}}
      </button>
      <button *ngIf="showConfirm" [disabled]="loading" (click)="confirm.emit()"
        class="px-4 py-2 text-sm rounded-lg bg-blue-600 text-white hover:bg-blue-700">
        <span *ngIf="!loading">
          {{confirmText}}
        </span>

        <span *ngIf="loading" class="flex items-center gap-2">
          <i class="fa-solid fa-spinner animate-spin"></i>
          Cargando...
        </span>
      </button>
    </div>
  </div>
</div>
