<div class="max-w-3xl mx-auto space-y-6">

  <!-- HEADER -->
  <div class="bg-white p-6 rounded-2xl shadow-lg flex items-center justify-between">
    <div>
      <h2 class="text-xl font-bold text-slate-800">Seguridad</h2>
      <p class="text-sm text-slate-500">Actualiza tu contraseña de acceso</p>
    </div>

    <i class="fa-solid fa-lock text-blue-600 text-xl"></i>
  </div>

  <!-- FORM -->
  <div class="bg-white p-6 rounded-2xl shadow-lg space-y-6">

    <h3 class="text-lg font-semibold text-slate-700 border-l-4 border-blue-500 pl-3">
      Cambiar Contraseña
    </h3>
    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="grid gap-4">

        <!-- contraseña actual -->
        <app-base-input class="block w-full" text="Contraseña actual" type_i="password"
          formControlName="currentPassword">
        </app-base-input>

        <!-- nueva contraseña -->
        <app-base-input class="block w-full" text="Nueva contraseña" type_i="password" formControlName="newPassword">
        </app-base-input>

        <!-- confirmar contraseña -->
        <app-base-input class="block w-full" text="Confirmar contraseña" type_i="password"
          formControlName="confirmPassword">
        </app-base-input>

      </div>

      <!-- error de validación -->
      @if (form.errors?.['passwordMismatch'] && confirmPassword?.touched) {
      <div class="text-red-500 text-sm mt-2">
        Las contraseñas no coinciden
      </div>
      }
      <!-- BOTÓN -->
      <div class="flex justify-end pt-5">

        <app-button label="Actualizar" type="primary" [disabled]="loading || form.invalid" >
        </app-button>
      </div>

    </form>
  </div>

</div>
