<div class="space-y-8">

  <!-- HEADER -->
  <div>
    <h1 class="text-3xl font-bold text-slate-800">Configuraciones del Sistema</h1>
    <p class="text-sm text-slate-500 mt-1">Personaliza el funcionamiento del sistema académico</p>
  </div>

  <!-- SECCIONES -->
  <div class="grid lg:grid-cols-3 gap-8">

    <!-- MENÚ LATERAL CONFIG -->
    <div class="bg-white rounded-2xl shadow-sm border border-slate-200 p-4 space-y-2 h-fit">

      <button class="config-tab active-tab w-full block text-left">
        Perfil
      </button>

      <button class="config-tab active-tab w-full block text-left">
        Contraseña
      </button>

      <button class="config-tab active-tab w-full block text-left">
        Institución
      </button>

      <button class="config-tab active-tab w-full block text-left">
        Pagos
      </button>
    </div>

    <!-- CONTENIDO -->
    <div class="lg:col-span-2 space-y-8 bg-red-200">

    </div>
  </div>
</div>
