<div class="space-y-8">

  <!-- HEADER -->
  <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-6">
    <div>
      <h1 class="text-2xl font-bold text-slate-800">Gestión de Docentes</h1>
      <p class="text-sm text-slate-500">Administra la información académica y laboral del personal docente.</p>
    </div>


    <app-button label="Agregar" variant="primary" (click)="openAddDocente()"> </app-button>
  </div>

  <!-- TARJETAS RESUMEN -->
  <div class="grid md:grid-cols-3 gap-6">
    <div class="bg-white p-5 rounded-xl shadow-sm border border-blue-100">
      <p class="text-sm text-slate-500">Total Docentes</p>
      <h3 class="text-2xl font-bold text-blue-700 mt-1">86</h3>
    </div>

    <div class="bg-white p-5 rounded-xl shadow-sm border border-blue-100">
      <p class="text-sm text-slate-500">Activos</p>
      <h3 class="text-2xl font-bold text-emerald-600 mt-1">72</h3>
    </div>

    <div class="bg-white p-5 rounded-xl shadow-sm border border-blue-100">
      <p class="text-sm text-slate-500">Inactivos</p>
      <h3 class="text-2xl font-bold text-indigo-600 mt-1">54</h3>
    </div>
  </div>

  <!-- FILTROS -->
  <div class="bg-white p-6 rounded-xl shadow-sm border border-blue-100">
    <div class="grid md:grid-cols-3 gap-4">

      <input type="text" placeholder="Buscar por nombre o CI..." [(ngModel)]="search" (ngModelChange)="onSearchChange()"
        class="px-4 py-3 border rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none text-sm">

      <select class="px-4 py-3 border rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none text-sm">
        <option>Carrera</option>
        <option>Sistemas Informáticos</option>
        <option>Administración</option>
        <option>Contaduría</option>
      </select>

      <app-button label="Filtrar" variant="secondary" [fullWidth]="true" (click)="loadDocentes()"></app-button>
    </div>
  </div>


  <!-- TABLA  -->
  <div class="bg-white rounded-2xl shadow-sm border border-slate-200 overflow-hidden">

    <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center p-6 border-b border-slate-200 gap-2">
      <span class="font-semibold text-slate-700">Listado de docentes</span>
      <span class="text-xs text-slate-400">{{ totalDocentes }} docentes registrados</span>
    </div>

    <div class="overflow-x-auto">
      <table class="w-full text-sm min-w-[800px]">
        <thead class="bg-slate-100 text-slate-600 uppercase text-xs">
          <tr>
            <th class="p-4 text-left">Docente</th>
            <th class="p-4 text-center">C.I.</th>
            <th class="p-4 text-center">Celular</th>
            <th class="p-4 text-center">Estado</th>
            <th class="p-4 text-center">Acciones</th>
          </tr>
        </thead>

        <tbody class="divide-y divide-slate-100">
          <tr *ngFor="let docente of docentes" class="hover:bg-slate-50 transition">
            <td class="p-4">
              <div class="font-semibold text-slate-700">{{ docente.user.name }} {{ docente.user.first_lastname }}
                {{ docente.user.second_lastname }}</div>
              <div class="text-xs text-slate-400">{{ docente.user.email }}</div>
            </td>
            <td class="p-4 text-center">{{ docente.user.ci }}</td>
            <td class="p-4 text-center">{{ docente.user.cellphone || 'No definido' }}</td>
            <td class="p-4 text-center">
              <span class="px-3 py-1 rounded-full text-xs font-semibold"
                [ngClass]="docente.status ? 'bg-emerald-100 text-emerald-600' : 'bg-rose-100 text-rose-600'">
                {{ docente.status ? 'Activo' : 'Bloqueado' }}
              </span>
            </td>
            
            <td class="p-3 sm:p-4 text-center">
              <div class="flex flex-col sm:flex-row gap-1 sm:gap-2 justify-center">
                <button (click)="openViewDocente(docente)"
                  class="bg-blue-500 text-white px-2 rounded-lg hover:bg-blue-300 hover:border-3 hover:border-blue-500 transition">
                  <i class="text-lg fas fa-eye"></i>
                </button>

                <button [ngClass]="docente.status 
      ? 'bg-rose-500 text-white hover:bg-rose-600'
      : 'bg-green-500 text-white hover:bg-green-600'" class="px-2 rounded-lg transition"
                  title="{{ docente.status ? 'Bloquear' : 'Desbloquear' }}">
                  <i class="text-lg fas" [ngClass]="docente.status ? 'fa-unlock' : 'fa-lock'"></i>
                </button>

                <button (click)="openOptionDocente(docente.id)"
                  class="bg-amber-500 text-white px-2 rounded-lg hover:bg-amber-300 hover:border-3 hover:border-amber-500 transition">
                  <i class="text-lg fas fa-edit"></i>
                </button>
              </div>
            </td>
          </tr>

          <tr *ngIf="loading" class="hover:bg-slate-50 transition">
            <td colspan="5" class="p-4 text-center">
              <div class="flex items-center justify-center gap-2 text-slate-600">
                <i class="fas fa-spinner fa-spin text-blue-600 text-xl"></i>
                <span>Cargando docentes...</span>
              </div>
            </td>
          </tr>

          <tr *ngIf="!loading && docentes.length === 0" class="hover:bg-slate-50 transition">
            <td colspan="5" class="p-4 text-center text-slate-500">
              No se encontraron docentes.
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="flex flex-col sm:flex-row justify-between items-center gap-3 p-4 border-t border-slate-200">
      <p class="text-xs text-slate-500">
        Mostrando {{ from }} - {{ to }} de {{ totalDocentes }} docentes
      </p>

      <div class="flex gap-2">
        <button (click)="previousPage()" [disabled]="currentPage === 1"
          class="px-3 py-1 border rounded disabled:opacity-50">
          Anterior
        </button>

        <span class="px-3 py-1 bg-indigo-600 text-white rounded">
          {{ currentPage }}
        </span>

        <button (click)="nextPage()" [disabled]="currentPage === lastPage"
          class="px-3 py-1 border rounded disabled:opacity-50">
          Siguiente
        </button>
      </div>
    </div>
  </div>


  <!--MODALS-->
  <app-base-modal [isOpen]="modalAddDocente" title="Agregar información de Docente" subtitle="Información general"
    size="lg" confirmText="Guardar" cancelText="Cancelar" (confirm)="saveDocente()" (cancel)="modalAddDocente = false">
    <div class="space-y-6">
      <div>
        <h3 class="text-md font-semibold text-slate-700 mb-4 border-l-4 border-blue-500 pl-3">
          Datos Personales
        </h3>

        <div class="grid md:grid-cols-3 gap-4">
          <app-base-input text="Nombre" [(ngModel)]="nombre" />
          <app-base-input text="Apellido paterno" [(ngModel)]="apellidoPaterno" />
          <app-base-input text="Apellido materno" [(ngModel)]="apellidoMaterno" />
          <app-base-input text="C.I." type_i="number" [(ngModel)]="ci" />
        </div>
      </div>

      <div>
        <h3 class="text-md font-semibold text-slate-700 mb-4 border-l-4 border-blue-500 pl-3">
          Contacto
        </h3>

        <div class="grid md:grid-cols-2 gap-4">
          <app-base-input text="Correo electrónico" [(ngModel)]="correo" />
          <app-base-input text="Celular" type_i="number" [(ngModel)]="celular" />
        </div>
      </div>

      <div>
        <h3 class="text-lg font-semibold text-slate-700 mb-4 border-l-4 border-blue-500 pl-3">
          Información Profesional
        </h3>

        <div class="grid md:grid-cols-1 gap-4">
          <select [(ngModel)]="gradoAcademico"
            class="w-full px-4 py-2.5 rounded-xl border border-slate-300 focus:ring-2 focus:ring-blue-500 shadow-sm hover:shadow-md transition md:col-span-2">
            <option value="">Grado académico</option>
            <option value="Licenciatura">Licenciatura</option>
            <option value="Ingeniería">Ingeniería</option>
            <option value="Maestría">Maestría</option>
            <option value="Doctorado">Doctorado</option>
          </select>
        </div>
      </div>

      <div>
        <h3 class="text-md font-semibold text-slate-700 mb-4 border-l-4 border-blue-500 pl-3">
          Documentos
        </h3>

        <div class="grid md:grid-cols-2 gap-4">

          <label
            class="flex items-center gap-3 bg-white p-4 rounded-xl border border-slate-200 hover:border-blue-400 hover:shadow-md transition cursor-pointer">
            <input type="checkbox" [(ngModel)]="documentos.hojaVida" class="w-4 h-4 accent-blue-500">
            Hoja de Vida (CV)
          </label>

          <label
            class="flex items-center gap-3 bg-white p-4 rounded-xl border border-slate-200 hover:border-blue-400 hover:shadow-md transition cursor-pointer">
            <input type="checkbox" [(ngModel)]="documentos.tituloProfesional" class="w-4 h-4 accent-blue-500">
            Título Profesional
          </label>

          <label
            class="flex items-center gap-3 bg-white p-4 rounded-xl border border-slate-200 hover:border-blue-400 hover:shadow-md transition cursor-pointer">
            <input type="checkbox" [(ngModel)]="documentos.ciCopia" class="w-4 h-4 accent-blue-500">
            C.I. (Copia)
          </label>

          <label
            class="flex items-center gap-3 bg-white p-4 rounded-xl border border-slate-200 hover:border-blue-400 hover:shadow-md transition cursor-pointer">
            <input type="checkbox" [(ngModel)]="documentos.certificados" class="w-4 h-4 accent-blue-500">
            Certificados
          </label>

        </div>
      </div>
    </div>
  </app-base-modal>


  <app-base-modal [isOpen]="modalViewDocente" title="Ver información de Docente" subtitle="Información general"
    size="lg" confirmText="Aceptar" cancelText="Cancelar" (confirm)="modalViewDocente = false"
    (cancel)="modalViewDocente = false">
    <div class="bg-white p-2  space-y-8">

      <div class="flex items-center gap-4">
        <div
          class="w-16 h-16 rounded-full bg-blue-100 flex items-center justify-center text-blue-600 text-2xl font-bold">
          {{ docenteSeleccionado?.user?.name?.charAt(0) }}{{ docenteSeleccionado?.user?.first_lastname?.charAt(0) }}
        </div>

        <div>
          <h2 class="text-xl font-bold text-slate-800">{{ docenteSeleccionado?.user?.name }}
            {{ docenteSeleccionado?.user?.first_lastname }} {{ docenteSeleccionado?.user?.second_lastname }}</h2>
          <p class="text-sm text-slate-500">C.I.:{{ docenteSeleccionado?.user?.ci }}</p>
        </div>

        <div class="ml-auto">
          <span class="px-3 py-1 rounded-full text-sm font-semibold"
            [ngClass]="docenteSeleccionado?.status ? 'bg-emerald-100 text-emerald-600' : 'bg-rose-100 text-rose-600'">
            {{ docenteSeleccionado?.status ? 'Activo' : 'Bloqueado' }}
          </span>
        </div>
      </div>

      <div>
        <h3 class="text-lg font-semibold text-slate-700 mb-4 border-l-4 border-blue-500 pl-3">
          Contacto
        </h3>

        <div class="grid md:grid-cols-2 gap-4 text-sm">

          <div class="bg-slate-50 p-3 rounded-xl">
            <p class="text-slate-500">Correo</p>
            <p class="font-semibold text-slate-800">{{ docenteSeleccionado?.user?.email }}</p>
          </div>

          <div class="bg-slate-50 p-3 rounded-xl">
            <p class="text-slate-500">Teléfono</p>
            <p class="font-semibold text-slate-800">{{ docenteSeleccionado?.user?.cellphone || 'No definido' }}</p>
          </div>
        </div>
      </div>


      <div>
        <h3 class="text-lg font-semibold text-slate-700 mb-4 border-l-4 border-blue-500 pl-3">
          Información Profesional
        </h3>
        <div class="space-y-4 text-sm">
          <!-- OTROS DATOS -->
          <div class="grid md:grid-cols-3 gap-4">
            <div class="bg-slate-50 p-3 rounded-xl md:col-span-2">
              <p class="text-slate-500">Grado Académico</p>
              <p class="font-semibold text-slate-800">{{ docenteSeleccionado?.degree?.name }}</p>
            </div>
          </div>
        </div>
      </div>

      <div>
        <h3 class="text-lg font-semibold text-slate-700 mb-4 border-l-4 border-blue-500 pl-3">
          Documentos
        </h3>

        <div class="grid md:grid-cols-2 gap-4 text-sm">

          <div class="flex justify-between items-center bg-slate-50 p-3 rounded-xl">
            <span>Hoja de Vida</span>
            <span class="text-green-600 font-semibold">
              <i class="fa-solid "
                [ngClass]="{'fa-check text-green-500': docenteSeleccionado?.cv, 'fa-xmark text-red-500': !docenteSeleccionado?.user?.cv}"></i>
            </span>
          </div>

          <div class="flex justify-between items-center bg-slate-50 p-3 rounded-xl">
            <span>Título Profesional</span>
            <span class="text-green-600 font-semibold">
              <i class="fa-solid "
                [ngClass]="{'fa-check text-green-500': docenteSeleccionado?.professional_title, 'fa-xmark text-red-500': !docenteSeleccionado?.user?.professional_title}"></i>
            </span>
          </div>

          <div class="flex justify-between items-center bg-slate-50 p-3 rounded-xl">
            <span>Fotocopia de C.I.</span>
            <span class="text-green-600 font-semibold">
              <i class="fa-solid "
                [ngClass]="{'fa-check text-green-500': docenteSeleccionado?.carnet, 'fa-xmark text-red-500': !docenteSeleccionado?.user?.carnet}"></i>

            </span>
          </div>

          <div class="flex justify-between items-center bg-slate-50 p-3 rounded-xl">
            <span>Certificados</span>
            <span class=" font-semibold">
              <i class="fa-solid "
                [ngClass]="{'fa-check text-green-500': docenteSeleccionado?.certificate, 'fa-xmark text-red-500': !docenteSeleccionado?.user?.certificate}"></i>
            </span>
          </div>

        </div>
      </div>

    </div>
  </app-base-modal>



  <app-base-modal [isOpen]="modalOptionDocente" title="Gestión de Docente" subtitle="Acciones administrativas" size="lg"
    confirmText="Guardar" cancelText="Cancelar" (confirm)="saveDocente()" (cancel)="modalOptionDocente = false">

    <div class="space-y-6">

      <!-- INFO DOCENTE -->
      <div class="bg-blue-50 border border-blue-100 p-4 rounded-xl flex items-center gap-4">
        <div class="w-12 h-12 rounded-full bg-blue-200 flex items-center justify-center font-bold text-blue-700">
          JP
        </div>

        <div>
          <h3 class="font-semibold text-slate-800">Juan Pérez</h3>
          <p class="text-sm text-slate-500">Docente • Programación</p>
        </div>
      </div>

      <!-- TABS ACCIONES -->
      <div class="w-full bg-slate-100 p-2 rounded-2xl">
        <div class="flex w-full gap-2">

          <button (click)="tabDoc='asignar'"
            class="flex-1 flex items-center justify-center gap-2 py-2.5 rounded-xl transition" [ngClass]="tabDoc==='asignar' 
            ? 'bg-blue-600 text-white shadow' 
            : 'text-slate-500 hover:bg-white hover:text-blue-600'">
            <i class="fa-solid fa-plus"></i> Asignar
          </button>

          <button (click)="tabDoc='quitar'"
            class="flex-1 flex items-center justify-center gap-2 py-2.5 rounded-xl transition" [ngClass]="tabDoc==='quitar' 
            ? 'bg-red-600 text-white shadow' 
            : 'text-slate-500 hover:bg-white hover:text-red-600'">
            <i class="fa-solid fa-minus"></i> Quitar
          </button>

        </div>
      </div>

      <!-- ===================== -->
      <!-- ASIGNAR MATERIA -->
      <!-- ===================== -->
      <div *ngIf="tabDoc==='asignar'" class="space-y-4">

        <h3 class="font-semibold text-slate-700">Asignar materia</h3>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

          <!-- Select 1 -->
          <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">Carrera</label>
            <select
              class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
              <option value="">Seleccionar carrera</option>
              <option> Ingeniería en Sistemas</option>
              <option> Licenciatura en Matemática</option>
            </select>
          </div>

          <!-- Select 2 -->
          <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">Materia</label>
            <select
              class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
              <option value="">Seleccionar materia</option>
              <option>Programación I</option>
              <option>Matemática Discreta</option>
            </select>
          </div>

          <!-- Select 3 -->
          <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">Turno</label>
            <select
              class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
              <option value="">Seleccionar turno</option>
              <option>Mañana</option>
              <option>Tarde</option>
            </select>
          </div>
          

        </div>
      </div>

      <!-- ===================== -->
      <!-- QUITAR MATERIA -->
      <!-- ===================== -->
      <div *ngIf="tabDoc==='quitar'" class="space-y-4">

        <h3 class="font-semibold text-slate-700">Quitar materia asignada</h3>

        <select class="w-full input">
          <option>Seleccionar materia</option>
          <option>Programación I</option>
        </select>

        <textarea class="input" placeholder="Motivo (opcional)"></textarea>

      </div>

    </div>

  </app-base-modal>
</div>
