<div class="space-y-8">

  <!-- HEADER -->
  <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-6">
    <div>
      <h1 class="text-2xl font-bold text-slate-800">Calificaciones</h1>
      <p class="text-sm text-slate-500">Consulta, edita y supervisa el rendimiento académico de los estudiantes.</p>
    </div>

  </div>
  <!-- TARJETAS RESUMEN -->
  <div class="grid md:grid-cols-4 gap-6">
    <div class="bg-white p-5 rounded-xl shadow-sm border border-blue-100">
      <p class="text-sm text-slate-500">Promedio General</p>
      <h3 class="text-2xl font-bold text-blue-700 mt-1">78 / 100</h3>
    </div>

    <div class="bg-white p-5 rounded-xl shadow-sm border border-blue-100">
      <p class="text-sm text-slate-500">Estudiantes Aprobados</p>
      <h3 class="text-2xl font-bold text-emerald-600 mt-1">1,240</h3>
    </div>

    <div class="bg-white p-5 rounded-xl shadow-sm border border-blue-100">
      <p class="text-sm text-slate-500">Estudiantes Reprobados</p>
      <h3 class="text-2xl font-bold text-rose-600 mt-1">132</h3>
    </div>

    <div class="bg-white p-5 rounded-xl shadow-sm border border-blue-100">
      <p class="text-sm text-slate-500">Materias Activas</p>
      <h3 class="text-2xl font-bold text-indigo-600 mt-1">48</h3>
    </div>
  </div>

  <!--tabla-->
  <div class="bg-white rounded-2xl shadow-sm border border-slate-200 overflow-hidden">
    <div
      class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-2 p-6 border-b border-slate-200">
      <span class="font-semibold text-slate-700">Listado de Carreras</span>
      <span class="text-xs text-slate-400">{{ data.total }} Carreras registradas</span>
    </div>

    <!-- Contenedor responsive -->
    <div class="overflow-x-auto">
      <table class="min-w-[900px] w-full text-sm">

        <thead class="bg-slate-100 text-slate-600 uppercase text-xs">
          <tr>
            <th class="p-4 text-left">Carrera</th>

            <th class="p-4 text-center">Duración</th>

            <th class="p-4 text-center hidden md:table-cell">
              Tipo
            </th>

            <th class="p-4 text-center">
              Estado
            </th>

            <th class="p-4 text-center">
              Materias
            </th>

            <th class="p-4 text-center hidden lg:table-cell">
              Estudiantes
            </th>

            <th class="p-4 text-center">
              Acciones
            </th>
          </tr>
        </thead>

        <tbody class="divide-y divide-slate-100">

          <tr *ngIf="loading">
            <td colspan="7" class="p-6 text-center">
              <div class="flex items-center justify-center gap-2 text-slate-600">
                <i class="fas fa-spinner fa-spin text-blue-600 text-xl"></i>
                <span>Cargando carreras...</span>
              </div>
            </td>
          </tr>

          <tr *ngIf="!loading && data.Careers.length === 0">
            <td colspan="7" class="p-6 text-center text-slate-500">
              No se encontraron carreras.
            </td>
          </tr>

          <tr *ngFor="let career of data.Careers" class="hover:bg-slate-50 transition">

            <td class="px-6 py-4 font-semibold text-slate-800 whitespace-nowrap">
              {{ career.name }}
            </td>

            <td class="px-6 py-4 text-center">
              <span class="bg-blue-50 text-blue-600 px-2 py-1 rounded-md text-xs font-medium">
                {{ career.duration }} año(s)
              </span>
            </td>

            <td class="px-6 py-4 text-center hidden md:table-cell">
              {{ career.type == 1? "Anual":"Semestral"}}
            </td>

            <td class="px-6 py-4 text-center">
              <span class="px-3 py-1 rounded-full text-xs font-semibold" [ngClass]="career.status
              ? 'bg-emerald-100 text-emerald-600'
              : 'bg-rose-100 text-rose-600'">
                {{ career.status ? 'Habilitado' : 'Inhabilitado' }}
              </span>
              
            </td>

            <td class="px-6 py-4 text-center font-semibold text-blue-600">
              {{ career.subjects_count }}
            </td>

            <td class="px-6 py-4 text-center font-semibold text-emerald-600 hidden lg:table-cell">
              {{ career.active_students_count || 0 }}
            </td>

            <td class="p-3 sm:p-4 text-center">
              <div class="flex justify-center gap-2">
                <button (click)="openViewProgram(career.id)"
                  class="bg-blue-500 text-white px-3 py-2 rounded-lg hover:bg-blue-600 transition">
                  <i class="fas fa-eye"></i>
                </button>
              </div>
            </td>

          </tr>

        </tbody>

      </table>
    </div>
  </div>

    <!--MODALS-->
  <app-base-modal [isOpen]="modalViewProgram" title="Detalle de carrera" subtitle="Plan de estudios" size="xl"
    confirmText="Aceptar" cancelText="Cerrar" (confirm)="closeViewProgram()" (cancel)="closeViewProgram()"
    [loading]="loadingModalDetails">


    <div class="flex flex-col md:flex-row md:items-start md:justify-between gap-6 mb-5  px-10">
      <!-- Información de la carrera -->
      <div class="space-y-3">
        <!-- Nombre -->
        <h3 class="text-2xl md:text-3xl font-bold text-slate-800">
          {{ careerSelected?.name }}
        </h3>
        <!-- Duración y tipo -->
        <div class="flex flex-wrap items-center gap-4 text-sm text-slate-500">

          <span class="flex items-center gap-2">
            <i class="fa-solid fa-clock text-slate-400"></i>
            Duración: {{ careerSelected?.duration }} años
          </span>

          <span class="flex items-center gap-2">
            <i class="fa-solid fa-layer-group text-slate-400"></i>
            Tipo: {{ careerSelected?.type == 1 ? 'Anual' : 'Semestral' }}
          </span>

        </div>
      </div>


    </div>

    <div class="relative">
      <div class="space-y-6">
        <div *ngFor="let group of careerSelected?.subjects_by_level" class="mb-6">

          <!-- HEADER LEVEL -->
          <div
            class="bg-slate-100 px-4 py-2 rounded-t-xl font-semibold text-slate-700 flex items-center justify-between">
            <span> {{ toNumeral(group.level) }} {{ careerSelected.type == 1 ? 'Año' : 'Semestre' }} </span>
          </div>

          <!-- TABLE -->
          <div class="overflow-x-auto border border-slate-200 rounded-b-xl">
            <table class="w-full text-sm">
              <thead class="bg-slate-50 text-slate-500 uppercase text-xs text-center">
                <tr>
                  <th class="px-4 py-3 text-center">Sigla</th>
                  <th class="px-4 py-3 text-center">Materia</th>
                  <th class="px-4 py-3 text-center">Prerrequisito</th>
                  <th class="px-4 py-3 text-center">Acciones</th>
                </tr>
              </thead>
              <tbody class="divide-y">
                <tr *ngFor="let subject of group.subjects" class="hover:bg-slate-50 text-center">
                  <td class="px-4 py-3 font-medium text-slate-700">
                    {{ subject.sigla }}
                  </td>
                  <!-- MATERIA -->
                  <td class="px-4 py-3">
                    {{ subject.name }}
                  </td>
                  <!-- PRERREQUISITO -->
                  <td class="px-4 py-3 text-center">
                    <span *ngIf="subject.subject_id; else none" class="text-blue-600 font-medium">
                      {{ getSubjectName(subject.subject_id) }}
                    </span>
                    <ng-template #none>
                      <span class="text-slate-400">—</span>
                    </ng-template>
                  </td>
                  <td class="px-4 py-3 text-right">
                    <div class="flex justify-center gap-2">
                      <button (click)="openModalQualification(subject)"
                        class="px-2 py-2 rounded-lg bg-green-500 text-white text-xs hover:bg-green-600">
                        <i class="fas fa-chart-line"></i> Calificaciones
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </app-base-modal>

  <app-base-modal [isOpen]="modalQualification"  title="Calificaciones de la materia"
    size="lg" confirmText="Guardar" cancelText="Cancelar" (confirm)="modalQualification = false"
    (cancel)="modalQualification = false">

  </app-base-modal>
</div>
