<app-base-modal [isOpen]="isOpen" [title]="title" [subtitle]="'Esta acción no se puede deshacer'" size="xs"
  [confirmText]="confirmText" [cancelText]="cancelText" [loading]="loading" [confirmButtonClass]="confirmClass"
  (confirm)="confirmAction()" (cancel)="close()">
  <div class="flex flex-col items-center justify-center space-y-1 text-center">
    <i class="fa-solid fa-triangle-exclamation text-4xl text-red-600"></i>

    <p class="text-sm text-slate-700">
      {{ message }}
    </p>
  </div>
</app-base-modal>
